<div class="navbar"> 
  <div class="w-container"> 
   <div class="w-row"> 
    <div class="left-nav w-col w-col-6 w-col-small-6 w-col-tiny-6"> 
     <a class="w-inline-block" routerLink="/demo_old_home"><img src="assets/images/space-logo.svg" width="37" class="logo" srcset=""> 
      <div class="brand">
        space 
      </div></a> 
    </div> 
    <div class="right-nav w-col w-col-6 w-col-small-6 w-col-tiny-6"> 
     <a href="http://facebook.com/webflow" class="social-btn w-inline-block"><img src="assets/images/facebook-icon_black.svg" width="25" srcset=""></a> 
     <a href="http://twitter.com/webflowapp" class="social-btn w-inline-block"><img src="assets/images/twitter-icon_black.svg" width="25" srcset=""></a> 
    </div> 
   </div> 
  </div> 
 </div> 
 <div class="section hero success"> 
  <div class="container w-container"> 
   <h1 class="grey-heading">Success! Storage Secured.</h1> 
   <p>Now make some of your friends happy too!</p> 
   <div class="share-wrapper"> 
    <div class="share-btn w-widget w-widget-facebook"> 
     <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Ffacebook.com%2Fwebflow&amp;layout=box_count&amp;locale=en_US&amp;action=like&amp;show_faces=false&amp;share=false" scrolling="no" frameborder="0" allowtransparency="true" style="border: none; overflow: hidden; width: 55px; height: 65px;"></iframe> 
    </div> 
    <div class="share-btn w-widget w-widget-twitter"> 
     <div class="w-widget-twitter-count-shim w--vertical"> 
      <div class="w-widget-twitter-count-inner">
        ... 
      </div> 
     </div> 
     <div class="w-widget-twitter-count-clear"></div> 
     <iframe src="https://platform.twitter.com/widgets/tweet_button.html#url=http%3A%2F%2Fwebflow.com&amp;counturl=webflow.com&amp;text=Check%20out%20this%20site&amp;count=vertical&amp;size=m&amp;dnt=true" scrolling="no" frameborder="0" allowtransparency="true" style="border: none; overflow: hidden; width: 62px; height: 21px;"></iframe> 
    </div> 
    <div class="share-btn w-widget w-widget-gplus"> 
     <div class="g-plusone" data-href="http://webflow.com" data-size="tall" data-annotation="bubble" data-recommendations="false"></div> 
    </div> 
   </div> 
  </div> 
 </div> 
 <div class="section"> 
  <div class="w-container"> 
   <h2 class="grey-heading">Now what?</h2> 
   <p>We'll let you know as soon as we launch Space to the public. It should be around 2025. Can't wait? There's always a traditional hard drive. </p> 
  </div> 
 </div> 
 <div class="section grey"> 
  <div class="w-container"> 
   <img src="assets/images/space-logo.svg" width="37" class="logo footer" srcset=""> 
   <a href="http://twitter.com/webflowapp" class="social-btn footer w-inline-block"><img src="assets/images/twitter-icon_black.svg" srcset=""></a> 
   <a href="http://facebook.com/webflow" class="social-btn footer w-inline-block"><img src="assets/images/facebook-icon_black.svg" srcset=""></a> 
   <a class="social-btn footer w-inline-block" routerLink="/mailto:contact@webflow.com"><img src="assets/images/email-icon-black.svg" srcset=""></a> 
  </div> 
 </div>

