<div class="navbar"> 
  <div class="w-container"> 
   <div class="w-row"> 
    <div class="left-nav w-col w-col-6 w-col-small-6 w-col-tiny-6"> 
     <a class="w-inline-block" routerLink="/pages_history"><img src="assets/images/space-logo.svg" width="37" class="logo" srcset=""> 
      <div class="brand">
        cplusplus.org 
      </div></a> 
    </div> 
    <div class="right-nav w-col w-col-6 w-col-small-6 w-col-tiny-6"> 
     <a href="http://facebook.com/webflow" class="social-btn w-inline-block"><img src="assets/images/facebook-icon_black.svg" width="25" srcset=""></a> 
     <a href="http://twitter.com/webflowapp" class="social-btn w-inline-block"><img src="assets/images/twitter-icon_black.svg" width="25" srcset=""></a> 
    </div> 
   </div> 
  </div> 
 </div> 
 <div class="section hero"> 
  <div class="container w-container"> 
   <h1>Search cplusplus.org</h1> 
   <div class="sign-up-form w-form"> 
    <form name="wf-form-signup-form" data-redirect="/success" class="w-clearfix"> 
  
  <input
     type="email"
     class="field w-input"
     maxlength="256"
     autofocus="true"
     name="Search"
     placeholder="Enter your search criteria ..."
     id="Search">

     <input type="submit" value="Search" class="button w-button"> 
    </form> 
   </div> 
  </div> 
 </div> 
 <div data-anchor="slide1" class="section grey"> 
  <div class="w-container"> 
   <h2 class="grey-heading">Information</h2> 
   <p>General information about the C++ programming language, including non-technical documents and descriptions</p> 
   <div> 
    <a class="w-inline-block" routerLink="/#"> <h1 class="h2">Heading</h1> </a> 
   </div> 
   <img src="assets/images/infinite-loop.svg" width="187" class="infinite" srcset=""> 
  </div> 
 </div> 
 <div class="section"> 
  <div class="w-container"> 
   <h2 class="grey-heading">Tutorials</h2> 
   <p>Learn the C++ language from its basics up to its most advanced features.</p> 
   <div class="image-crop"> 
    <img src="assets/images/flat-yellow.png" class="phone-image" srcset=""> 
   </div> 
  </div> 
 </div> 
 <div data-anchor="slide1" class="section grey"> 
  <div class="w-container"> 
   <h2 class="grey-heading">Reference</h2> 
   <p>Description of the most important classes, functions and objects of the Standard Language Library, with descriptive fully-functional short programs as examples</p> 
   <img src="assets/images/infinite-loop.svg" width="187" class="infinite" srcset=""> 
  </div> 
 </div> 
 <div class="section"> 
  <div class="w-container"> 
   <h2 class="grey-heading">Articles</h2> 
   <p>User-contributed articles, organized into different categories</p> 
   <div class="image-crop"> 
    <img src="assets/images/flat-yellow.png" class="phone-image" srcset=""> 
   </div> 
  </div> 
 </div> 
 <div data-anchor="slide1" class="section grey"> 
  <div class="w-container"> 
   <h2 class="grey-heading">Forum</h2> 
   <p>Message boards where members can exchange knowledge and comments</p> 
   <img src="assets/images/infinite-loop.svg" width="187" class="infinite" srcset=""> 
  </div> 
 </div> 
 <div class="social-section"> 
  <div class="w-container"> 
   <h2>Tell your friends.</h2> 
   <p>Want more unlimited storage? Refer more friends.</p> 
   <div class="share-wrapper"> 
    <div class="share-btn w-widget w-widget-facebook"> 
     <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Ffacebook.com%2Fwebflow&amp;layout=box_count&amp;locale=en_US&amp;action=like&amp;show_faces=false&amp;share=false" scrolling="no" frameborder="0" allowtransparency="true" style="border: none; overflow: hidden; width: 55px; height: 65px;"></iframe> 
    </div> 
    <div class="share-btn w-widget w-widget-twitter"> 
     <div class="w-widget-twitter-count-shim w--vertical"> 
      <div class="w-widget-twitter-count-inner">
        ... 
      </div> 
     </div> 
     <div class="w-widget-twitter-count-clear"></div> 
     <iframe src="https://platform.twitter.com/widgets/tweet_button.html#url=http%3A%2F%2Fwebflow.com&amp;counturl=webflow.com&amp;text=Check%20out%20this%20site&amp;count=vertical&amp;size=m&amp;dnt=true" scrolling="no" frameborder="0" allowtransparency="true" style="border: none; overflow: hidden; width: 62px; height: 21px;"></iframe> 
    </div> 
    <div class="share-btn w-widget w-widget-gplus"> 
     <div class="g-plusone" data-href="http://webflow.com" data-size="tall" data-annotation="bubble" data-recommendations="false"></div> 
    </div> 
   </div> 
  </div> 
 </div> 
 <div class="section grey"> 
  <div class="w-container"> 
   <img src="assets/images/space-logo.svg" width="37" class="logo footer" srcset=""> 
   <a href="http://twitter.com/webflowapp" class="social-btn footer w-inline-block"><img src="assets/images/twitter-icon_black.svg" srcset=""></a> 
   <a href="http://facebook.com/webflow" class="social-btn footer w-inline-block"><img src="assets/images/facebook-icon_black.svg" srcset=""></a> 
   <a class="social-btn footer w-inline-block" routerLink="/mailto:contact@webflow.com"><img src="assets/images/email-icon-black.svg" srcset=""></a> 
  </div> 
 </div>

