<div> 
  
  <div
     id="SideBarMenu"
     ng-controller="sidebarController"
     class="sidebar-menu">

   <a class="link-block w-inline-block" routerLink="/"><img src="assets/images/b57c66566dd5286a036435b570d1740f.png" class="image-logo" srcset=""></a> 
   <div class="side-menu-div"> 
    <a class="side-menu-link w-inline-block" routerLink="/"> <h3 class="side-menu-item">HomE</h3> </a> 
    <a class="side-menu-link w-inline-block" routerLink="/about_cpp"> <h3 ng-click="showAbout =! showAbout" class="side-menu-item">about c++</h3> </a> 
    <ul ng-show="showAbout" class="sub-menu"> 
     <li> <a class="side-menu-link w-inline-block" routerLink="/pages_about_bjarne_stroustrup"> <h3 ng-click="showBjarne =! showBjarne" class="side-menu-item sub-side-menu">About Bjarne Stroustrup</h3> </a> 
      <ul ng-show="showBjarne" class="sub-menu"> 
       <li> <a class="fg w-inline-block" routerLink="/pages_about_bjarne_stroustrup_interviews"> 
         <div class="sub-sub-menu-item">
           Interviews 
         </div> </a> </li> 
       <li> <a class="fg w-inline-block" routerLink="/pages_publications"> 
         <div class="sub-sub-menu-item">
           Publications 
         </div> </a> </li> 
       <li> <a class="fg w-inline-block" routerLink="/pages_frequently_requested_papers"> 
         <div ng-click="showPapers2 =! showPapers2" class="sub-sub-menu-item">
           Frequently requested papers 
         </div> </a> 
        <ul ng-show="showPapers2" class="sub-menu"> 
         <li> <a class="fg w-inline-block" routerLink="/pages_frequently_requested_papers_1"> 
           <div class="sub-sub-menu-item s23">
             Software Development for Infrastructure 
           </div> </a> </li> 
         <li> <a class="fg w-inline-block" routerLink="/pages_frequently_requested_papers_2"> 
           <div class="sub-sub-menu-item s23">
             Evolving a language in and for the real world: C++ 
           </div> </a> </li> 
         <li> <a class="fg w-inline-block" routerLink="/pages_frequently_requested_papers_3"> 
           <div class="sub-sub-menu-item s23">
             What should we teach software developers? Why? 
           </div> </a> </li> 
         <li> <a class="fg w-inline-block" routerLink="/pages_frequently_requested_papers_4"> 
           <div class="sub-sub-menu-item s23">
             Learning Standard C++ as a New Language 
           </div> </a> </li> 
        </ul> </li> 
       <li> <a class="fg w-inline-block" routerLink="/pages_about_cpp_standards_committee"> 
         <div ng-click="showCommittee =! showCommittee" class="sub-sub-menu-item">
           C++ Standards Committee 
         </div> </a> 
        <ul ng-show="showCommittee" class="sub-menu"> 
         <li> <a class="fg w-inline-block" routerLink="/pages_c_standards_1"> 
           <div class="sub-sub-menu-item s23">
             My C++ Standards Committee papers 
           </div> </a> </li> 
         <li> <a class="fg w-inline-block" routerLink="/pages_c_standards_2"> 
           <div class="sub-sub-menu-item s23">
             The Committee: WG21 
           </div> </a> </li> 
         <li> <a class="fg w-inline-block" routerLink="/pages_c_standards_3"> 
           <div class="sub-sub-menu-item s23">
             The C++ Standards Committee - ISOCPP 
           </div> </a> </li> 
         <li> <a class="fg w-inline-block" routerLink="/pages_standardization"> 
           <div class="sub-sub-menu-item s23">
             Standardization of C++ 
           </div> </a> </li> 
        </ul> </li> 
       <li> <a class="fg w-inline-block" routerLink="/pages_about_cpp_wikipedia"> 
         <div class="sub-sub-menu-item">
           C++ Wikipedia 
         </div> </a> </li> 
       <li> <a class="fg w-inline-block" routerLink="/pages_stroustrup_home"> 
         <div class="sub-sub-menu-item">
           Stroustrup.com 
         </div> </a> </li> 
       <li> <a class="fg w-inline-block" routerLink="/pages_stroustrup_wiki"> 
         <div class="sub-sub-menu-item">
           Stroustrup Wikipedia 
         </div> </a> </li> 
       <li> <a class="fg w-inline-block" routerLink="/pages_books_by_bjarne_stroupstrup"> 
         <div ng-click="showBooks2 =! showBooks2" class="sub-sub-menu-item">
           Books by Bjarne Stroustrup 
         </div> </a> 
        <ul ng-show="showBooks2" class="sub-menu"> 
         <li> <a class="fg w-inline-block" routerLink="/pages_books_1"> 
           <div class="sub-sub-menu-item s23">
             Programming -- Principles and Practice Using C++ (Second Edition) 
           </div> </a> </li> 
         <li> <a class="fg w-inline-block" routerLink="/pages_books_2"> 
           <div class="sub-sub-menu-item s23">
             A Tour of C++ 
           </div> </a> </li> 
         <li> <a class="fg w-inline-block" routerLink="/pages_books_3"> 
           <div class="sub-sub-menu-item s23">
             The C++ Programming Language (4th Edition) 
           </div> </a> </li> 
         <li> <a class="fg w-inline-block" routerLink="/pages_books_4"> 
           <div class="sub-sub-menu-item s23">
             The C++ Programming Language<br>(Third Edition and Special Edition) 
           </div> </a> </li> 
         <li> <a class="fg w-inline-block" routerLink="/pages_books_5"> 
           <div class="sub-sub-menu-item s23">
             The Design and Evolution of C++ 
           </div> </a> </li> 
         <li> <a class="fg w-inline-block" routerLink="/pages_books_6"> 
           <div class="sub-sub-menu-item s23">
             The C++ Programming Language (Second Edition) 
           </div> </a> </li> 
         <li> <a class="fg w-inline-block" routerLink="/pages_books_7"> 
           <div class="sub-sub-menu-item s23">
             The Annotated C++ Reference Manual 
           </div> </a> </li> 
         <li> <a class="fg w-inline-block" routerLink="/pages_books_8"> 
           <div class="sub-sub-menu-item s23">
             The C++ Programming Language 
           </div> </a> </li> 
        </ul> </li> 
       <li> <a class="fg w-inline-block" routerLink="/pages_c_standards_3"> 
         <div class="sub-sub-menu-item">
           WG21 Technical Reports 
         </div> </a> </li> 
      </ul> </li> 
     <li> <a class="side-menu-link w-inline-block" routerLink="/pages_about_bjarne_stroustrup"> <h3 class="side-menu-item sub-side-menu">About Dennis Ritchie</h3> </a> </li> 
     <li> <a class="side-menu-link w-inline-block" routerLink="/pages_about_bjarne_stroustrup"> <h3 class="side-menu-item sub-side-menu">About Brian Kernighan</h3> </a> </li> 
     <li> <a class="side-menu-link w-inline-block" routerLink="/pages_about_bjarne_stroustrup"> <h3 class="side-menu-item sub-side-menu">About Linus Torvalds</h3> </a> </li> 
     <li> <a class="side-menu-link w-inline-block" routerLink="/pages_about_bjarne_stroustrup"> <h3 class="side-menu-item sub-side-menu">About Ken Thompson</h3> </a> </li> 
     <li> <a class="side-menu-link w-inline-block" routerLink="/pages_about_bjarne_stroustrup"> <h3 class="side-menu-item sub-side-menu">About Ole-Johan Dahl</h3> </a> </li> 
     <li> <a class="side-menu-link w-inline-block" routerLink="/pages_about_bjarne_stroustrup"> <h3 class="side-menu-item sub-side-menu">About Kristen Nygaard</h3> </a> </li> 
    </ul> 
    <a class="side-menu-link w-inline-block" routerLink="/pages_history"> <h3 ng-click="showHistory=!showHistory" class="side-menu-item">history</h3> </a> 
    <ul ng-show="showHistory" class="sub-menu"> 
     <li> <a class="side-menu-link w-inline-block" routerLink="/pages_evolution"> <h3 ng-click="showEvolution = !showEvolution" class="side-menu-item sub-side-menu">Evolution</h3> </a> 
      <ul ng-show="showEvolution" class="sub-menu"> 
       <li> 
        <div ng-click="jump('Solid')" class="sub-sub-menu-item">
          Solid State &amp; Vacuum Tubes 
        </div> </li> 
       <li> 
        <div ng-click="jump('Discrete')" class="sub-sub-menu-item">
          Discrete Transistors 
        </div> </li> 
       <li> 
        <div ng-click="jump('CPU')" class="sub-sub-menu-item">
          Central Processor Unit 
        </div> </li> 
       <li> 
        <div ng-click="jump('JFK')" class="sub-sub-menu-item">
          The Space Race 
        </div> </li> 
       <li> 
        <div ng-click="jump('Machine')" class="sub-sub-menu-item">
          Machine Language 
        </div> </li> 
       <li> 
        <div ng-click="jump('Assembler')" class="sub-sub-menu-item">
          Assembler Language 
        </div> </li> 
       <li> 
        <div ng-click="jump('Simula')" class="sub-sub-menu-item">
          The Simula Language 
        </div> </li> 
       <li> 
        <div ng-click="jump('C')" class="sub-sub-menu-item">
          The C Language 
        </div> </li> 
       <li> 
        <div ng-click="jump('Cpp')" class="sub-sub-menu-item">
          The C++ Language 
        </div> </li> 
       <li> 
        <div ng-click="jump('Java')" class="sub-sub-menu-item">
          The Java Language 
        </div> </li> 
       <li> 
        <div ng-click="jump('Swift')" class="sub-sub-menu-item">
          The Swift Language 
        </div> </li> 
       <li> 
        <div ng-click="jump('CppName')" class="sub-sub-menu-item">
          How C++ got it's name 
        </div> </li> 
       <li> 
        <div ng-click="jump('Inventor')" class="sub-sub-menu-item">
          Inventor of C++ 
        </div> </li> 
      </ul> </li> 
     <li> <a class="side-menu-link w-inline-block" routerLink="/pages_philosophy"> <h3 class="side-menu-item sub-side-menu">Philosophy</h3> </a> </li> 
     <li> <a class="side-menu-link w-inline-block" routerLink="/pages_standardization"> <h3 class="side-menu-item sub-side-menu">Standardization</h3> </a> </li> 
    </ul> 
    <a class="side-menu-link w-inline-block" routerLink="/pages_language"> <h3 ng-click="showLanguage=!showLanguage" class="side-menu-item">language</h3> </a> 
    <ul ng-show="showLanguage" class="sub-menu"> 
     <li> <a class="side-menu-link w-inline-block" routerLink="/pages_object_storage"> <h3 class="side-menu-item sub-side-menu">Object storage</h3> </a> </li> 
     <li> <a class="side-menu-link w-inline-block" routerLink="/pages_templates"> <h3 class="side-menu-item sub-side-menu">Templates</h3> </a> </li> 
     <li> <a class="side-menu-link w-inline-block" routerLink="/pages_objects"> <h3 class="side-menu-item sub-side-menu">Objects</h3> </a> </li> 
     <li> <a class="side-menu-link w-inline-block" routerLink="/pages_operators_and_operator_overloading"> <h3 class="side-menu-item sub-side-menu">Operators / Overloading</h3> </a> </li> 
     <li> <a class="side-menu-link w-inline-block" routerLink="/pages_polymorphism"> <h3 class="side-menu-item sub-side-menu">Polymorphism</h3> </a> </li> 
     <li> <a class="side-menu-link w-inline-block" routerLink="/pages_lambda_expressions"> <h3 class="side-menu-item sub-side-menu">Lambda expressions</h3> </a> </li> 
     <li> <a class="side-menu-link w-inline-block w--current" routerLink="/pages_exception_handling"> <h3 class="side-menu-item sub-side-menu">Exception handling</h3> </a> </li> 
    </ul> 
    <a class="side-menu-link w-inline-block" routerLink="/pages_standard_library"> <h3 class="side-menu-item">standard library</h3> </a> 
    <a class="side-menu-link w-inline-block" routerLink="/pages_compatibility"> <h3 class="side-menu-item">Compatibility</h3> </a> 
    <a class="side-menu-link w-inline-block" routerLink="/pages_criticism"> <h3 class="side-menu-item">Criticism</h3> </a> 
    <h3 class="side-menu-item side-menu-heading"><strong>projects</strong></h3> 
    <h3 class="side-menu-item">compiler and standard library</h3> 
    <h3 class="side-menu-item">package manager</h3> 
    <h3 class="side-menu-item">core libraries</h3> 
    <h3 class="side-menu-item">repl, debugger &amp; playgrounds</h3> 
    <h3 class="side-menu-item">server apis</h3> 
   </div> 
  </div> 
  
  <div
     id="ContentDiv"
     class="contentdiv">

   <div class="content w-richtext"> 
    <h2><strong>Exception handling</strong> in C++</h2> 
    <p>Exception handling is used to communicate the existence of a runtime problem or error from where it was detected to where the issue can be handled. <a href="https://en.wikipedia.org/wiki/C%2B%2B#cite_note-47">[47]</a> It permits this to be done in a uniform manner and separately from the main code, while detecting all errors.<a href="https://en.wikipedia.org/wiki/C%2B%2B#cite_note-exception_summary-48">[48]</a> Should an error occur, an exception is thrown (raised), which is then caught by the nearest suitable exception handler. The exception causes the current scope to be exited, and also each outer scope (propagation) until a suitable handler is found, calling in turn the destructors of any objects in these exited scopes.<a href="https://en.wikipedia.org/wiki/C%2B%2B#cite_note-49">[49]</a> At the same time, an exception is presented as an object carrying the data about the detected problem.<a href="https://en.wikipedia.org/wiki/C%2B%2B#cite_note-50">[50]</a> </p> 
    <p>The exception-causing code is placed inside a try block. The exceptions are handled in separate catch blocks (the handlers); each try block can have multiple exception handlers, as it is visible in the example below.<a href="https://en.wikipedia.org/wiki/C%2B%2B#cite_note-51">[51]</a></p> 
   </div> 
   <div ng-controller="codeController" class="code-block code-block-extend"> 
    <div class="code-text">
      #include &lt;iostream&gt; 
    </div> 
    <div class="code-text">
      #include &lt;vector&gt; 
    </div> 
    <div class="code-text">
      #include &lt;stdexcerpt&gt; 
    </div> 
    <div class="code-black-blank"></div> 
    <div class="code-text">
      int main() {{"{"}} 
    </div> 
    <div class="code-black-blank"></div> 
    <div class="code-text code-block-indent-1">
      // Throws an exception, std::out_of_range 
    </div> 
    <div class="code-text code-block-indent-1">
      // (indexing for vec is from 0-3 not 1-4) 
    </div> 
    <div class="code-text code-block-indent-1">
      try {{"{"}} 
    </div> 
    <div class="code-text code-block-indent-1 code-block-indent-2">
      std::vector&lt;int&gt; vec{{"{"}}3,4,3,1{{"}"}}; 
    </div> 
    <div class="code-text code-block-indent-1 code-block-indent-2">
      int i{{"{"}}vec.at(4){{"}"}}; 
    </div> 
    <div class="code-text code-block-indent-1">
      {{"}"}} 
    </div> 
    <div class="code-black-blank"></div> 
    <div class="code-text code-block-indent-1">
      // An exception handler, catches std::out_of_range, 
    </div> 
    <div class="code-text code-block-indent-1">
      // which is thrown by vec.at(4) 
    </div> 
    <div class="code-text code-block-indent-1">
      catch (std::out_of_range&amp; e) {{"{"}} 
    </div> 
    <div class="code-text code-block-indent-1 code-block-indent-2">
      std::cerr &lt;&lt; "Accessing a non-existent element: " &lt;&lt; e.what() &lt;&lt; '\n'; 
    </div> 
    <div class="code-text code-block-indent-1">
      {{"}"}} 
    </div> 
    <div class="code-black-blank"></div> 
    <div class="code-text code-block-indent-1">
      // To catch any other standard library exceptions 
    </div> 
    <div class="code-text code-block-indent-1">
      // (they derive from std::exception) 
    </div> 
    <div class="code-text code-block-indent-1">
      catch (std::exception&amp; e) {{"{"}} 
    </div> 
    <div class="code-text code-block-indent-1 code-block-indent-2">
      std::cerr &lt;&lt; "Exception thrown: " &lt;&lt; e.what() &lt;&lt; '\n'; 
    </div> 
    <div class="code-text code-block-indent-1">
      {{"}"}} 
    </div> 
    <div class="code-black-blank"></div> 
    <div class="code-black-blank"> 
     <div class="code-text code-block-indent-1">
       // Catch any unrecognised exceptions 
     </div> 
     <div class="code-text code-block-indent-1">
       // (i.e. those which don't derive from std::exception) 
     </div> 
     <div class="code-text code-block-indent-1">
       catch (...) {{"{"}} 
     </div> 
     <div class="code-text code-block-indent-1 code-block-indent-2">
       std::cerr &lt;&lt; "Some fatal error\n"; 
     </div> 
     <div class="code-text code-block-indent-1">
       {{"}"}} 
     </div> 
     <div class="code-black-blank"></div> 
     <div class="code-text">
       {{"}"}} 
     </div> 
    </div> 
   </div> 
   <div class="content w-richtext"> 
    <p>It is also possible to raise exceptions purposefully, using the throw keyword; these exceptions are handled in the usual way. In some cases, exceptions cannot be used due to technical reasons. One such example is a critical component of an embedded system, where every operation must be guaranteed to complete within a specified amount of time. This cannot be determined with exceptions as no tools exist to determine the minimum time required for an exception to be handled.<a href="https://en.wikipedia.org/wiki/C%2B%2B#cite_note-52">[52]</a></p> 
   </div> 
   <div class="copyright-footer"> 
    <div class="copyright-text">
      This page was last modified on 3 March 2017, at 08:26. 
    </div> 
    <div class="copyright-text">
      Text is available under the 
     <a href="https://en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License" class="tos">Creative Commons Attribution-ShareAlike License</a>; additional terms may apply. By using this site, you agree to the 
     <a href="https://wikimediafoundation.org/wiki/Terms_of_Use" class="tos">Terms of Use</a> and 
     <a href="https://wikimediafoundation.org/wiki/Privacy_policy" class="tos">Privacy Policy</a>. Wikipedia® is a registered trademark of the 
     <a href="https://wikimediafoundation.org/wiki/Home" class="tos">Wikimedia Foundation, Inc</a>., a non-profit organization. 
    </div> 
    <div class="w-row"> 
     <div class="w-col w-col-5"> 
      <div class="copyright-text">
        Site layout, design &amp; hosting by 
       <a href="http://exparx.com/index.html" class="tos">EXPARX, Inc.</a> 
      </div> 
     </div> 
     <div class="column w-col w-col-7"> 
      <div class="copyright-text">
        This site was designed using 
       <a href="http://exparx.com/index.html" class="tos"></a> 
      </div> 
      <a href="https://www.freeformjs.org/" target="_blank" class="link-block-2 w-inline-block"><img src="assets/images/ffjslogo.png" srcset=""></a> 
     </div> 
    </div> 
   </div> 
  </div> 
 </div>

